{{ template "chart.header" . }}

[![Chart Version](https://img.shields.io/github/v/release/jo-hoe/gostwriter?filter=gostwriter-*&label=chart)](https://jo-hoe.github.io/gostwriter) [![App Version](https://img.shields.io/github/v/release/jo-hoe/gostwriter?filter=v*&label=app)](https://github.com/jo-hoe/gostwriter/pkgs/container/gostwriter) {{ template "chart.typeBadge" . }}

{{ template "chart.description" . }}

{{ template "chart.sourcesSection" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}
