apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "gostwriter.fullname" . }}
  labels:
    {{- include "gostwriter.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "gostwriter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "gostwriter.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if and (not .Values.existingConfigSecret) (not .Values.configAsSecret) }}
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum | quote }}
        {{- else if and (not .Values.existingConfigSecret) .Values.configAsSecret }}
        checksum/config: {{ include (print $.Template.BasePath "/secret-config.yaml") . | sha256sum | quote }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "gostwriter.serviceAccountName" . }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: gostwriter
          image: "{{ .Values.image.repository }}:{{ default .Chart.AppVersion .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /app/config
              readOnly: true
            - name: data
              mountPath: /app/data
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: config
          {{- if .Values.existingConfigSecret }}
          secret:
            secretName: {{ .Values.existingConfigSecret }}
            items:
              - key: config.yaml
                path: config.yaml
          {{- else if .Values.configAsSecret }}
          secret:
            secretName: {{ include "gostwriter.fullname" . }}-config
            items:
              - key: config.yaml
                path: config.yaml
          {{- else }}
          configMap:
            name: {{ include "gostwriter.fullname" . }}-config
            items:
              - key: config.yaml
                path: config.yaml
          {{- end }}
        - name: data
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{- if .Values.persistence.existingClaim -}}
              {{- .Values.persistence.existingClaim | quote -}}
            {{- else -}}
              {{ include "gostwriter.fullname" . }}-data
            {{- end }}
          {{- else }}
          emptyDir: {}
          {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}