apiVersion: v1
kind: Service
metadata:
  name: {{ include "gostwriter.fullname" . }}
  labels:
    {{- include "gostwriter.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
  selector:
    {{- include "gostwriter.selectorLabels" . | nindent 4 }}